@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
  font-family: "Mulish", sans-serif;
}
a{
  color: #000;
  text-decoration: none !important;
}
.top-header{
  background: linear-gradient(90deg, #F77433 0%, #FEAF38 100%);
}
.main-header nav{
  background: linear-gradient(90deg, rgba(253, 237, 205, 0.36) 0.99%, rgba(253, 239, 211, 0.43) 6.9%, rgba(255, 255, 255, 0.98) 52.52%, rgba(249, 231, 196, 0.45) 100.33%);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.search-input{
  border-color:#F77433 !important;
}
.menu-item{
  background: #F5F5F5;
  border: 1px solid #fff;
  color: #000;
}
.menu-item .list-group-item{
  font-size: 13px;
}
.menu-item .list-group-item:hover{
font-weight: 600;

}
.header-menu p{
  font-size: 12px;
  margin-bottom:0;
  color: #000 ;
}